// Define variables for your color scheme

// For example:
$red: #FF4D44; // Dominant color
$green: #41E8C0; // Call to action / primary color
$pink: #e84169; // secondary color
$gray: #3B4648; // Navbar
$light-gray: #525B5D; // Background color
$lighter-gray: #4e5759;
$lightest-gray: #c4c5c6;

$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;


