
.centered-box {

}

.centered-box_content {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 50px;
  margin:  40px;
}

.map {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 200px 10px;
  margin: 20px;

}


.stat {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 30px;
  margin: 20px;
}


