.order-summary-box {
  border-top: 5px solid $green;
  padding: 10px 20px 30px 20px;
  margin: 15px 0px;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: #ededed !important;
}

.order-summary {
  padding-bottom: 5px;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: $green;
  font-size: 20px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.order-details {
  padding-top: 20px;
}

.map-wrapper {
  margin-top: 15px;
  border-top: 5px solid $green;
  padding: 10px 20px 30px 20px;
  margin: 15px 15px;
}

.task-status {
  padding-top: 20px;
  border-bottom: 0px !important;
}

.task-status-pending {
  background-color: $red;
  color: white;
  font-weight: lighter;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.task-status-assigned {
  background-color: $green;
  color: white;
  font-weight: lighter;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
.task-status-completed {
  background-color: $lightest-gray;
  color: white;
  font-weight: lighter;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

#company-show-map {
  width: 100%;
  height: 80%;
  border-radius: 3px;
}

#input-details {
  color:
  $red;
}
