h2 {
  font-size: 18px;
}

.order-summary-box {
  background-color: white;
  margin-top: 60px;
  border-radius: 2px;
  text-align: left;
  padding: 5px 20px 30px 20px;
}

.order-summary {
  padding-bottom: 5px;
  padding-top: 10px;
  border-bottom: .5px solid $lightest-gray;
}

.order-details {
  padding-top: 20px;
}

.map-wrapper {
  margin-top: 60px;
}
