
.gazelle-show-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lightest-gray;
  margin: 30px 150px 30px 150px;
  border-radius: 2px;
}

.task-box {
  background-color: white;
  margin: 10px;
  border-radius: 2px;
  text-align: center;
  height: 100px;
}

.task-map {
  background-color: white;
  margin: 10px;
  border-radius: 2px;
  text-align: center;
  justify-content: center;
  height: 100px;
}

.task-time {
  background-color: white;
  margin: 10px;
  border-radius: 2px;
  text-align: center;
  justify-content: center;
  height: 100px;
}






