h2 {
  font-size: 15px;
}

.gazelle-show-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lightest-gray;
  margin: 30px 150px 30px 150px;
  border-radius: 2px;
}

.task-box {
  background-color: white;
  margin: 10px;
  border-radius: 2px;
  text-align: center;
  height: 100px;
}

.task-map {
  background-color: white;
  margin: 10px;
  border-radius: 2px;
  text-align: center;
  justify-content: center;
  height: 100px;
}

.task-time {
  background-color: white;
  margin: 10px;
  border-radius: 2px;
  text-align: center;
  justify-content: center;
  height: 100px;
}

.task-status-pending {
  background-color: $red;
  color: white;
  font-weight: lighter;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-align: center;
}

.task-status-assigned {
  background-color: $green;
  color: white;
  font-weight: lighter;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-align: center;
}

.task-status-completed {
  background-color: $blue;
  color: white;
  font-weight: lighter;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-align: center;
}



