// Specific CSS for your home-page
.home-search-container {
  margin-top: 100px;
  color: #525B5D;
  padding-left: 90px;
}

.headline-container {
  text-align: center;
  color: white;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  padding-top: 100px;
  padding-right: 500px;
  h1 {
    font-size: 24px;
  }
  h2{
    font-size: 20px;
  }
}

body, html {
    height: 100%;
}

.bg {
    background-image: url("gazellebg.jpg");
    height: 100%;

    background-position: bottom;
    background-repeat:   no-repeat;
    background-size: 100%;
}
