.wrapper-new-gazelle {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px 0px;
}

.map-box-gazelles {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: 588.5px;
  padding: 20px;
  margin: 10px 0px;
}

#map {
  width: 100%;
  height: 100%;
}


