.map-wrapper {
  margin-top: 0px;
}

.order-title {
  background-color: white;
  border-radius: 2px;
  text-align: center;
  padding: 5px 10px;
}


.task-status {
  padding-top: 0px;
}

.order-details {
  padding-top: 0px;
}

h2 {
  font-size: 18px;
}

.task-status-pending {
  background-color: $red;
  color: white;
  font-weight: lighter;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-align: center;
}

.task-status-assigned {
  background-color: $green;
  color: white;
  font-weight: lighter;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-align: center;
}

.task-status-completed {
  background-color: $blue;
  color: white;
  font-weight: lighter;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background 0.3s ease;
  text-align: center;
}



.order-summary-box {
  background-color: white;
  margin-top: 10px;
  border-radius: 2px;
  text-align: left;
  padding: 5px 20px 30px 20px;
}
