<div class="main-wrapper">


  <div class="grid-wrap">
    <div class = "container">
      <div class ="row">
        <br>
        <br>
        <br>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="wrapper-new-gazelle">
            <h1>Create a new task</h1>
             <%= render 'form', task: @task %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="location">
    <div>
      <div>
        <div>
        </div>
      </div>
    </div>
  </div>




</div>


