<div class="bg">
<div class="layer">
<div class="headline-container">
<h1>The convenient & fast way to get help around the office</h1>
<h2>Get quick help from our friendly & efficient gazelles</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <% if current_user && current_user.company %>
        <%= form_tag(new_company_task_path(current_user.company), method: "get", class: "form-inline") do %>
          <div class="home-search-container shared-search-container">
          <%= text_field_tag :search, params[:search], placeholder: "What do you want done?", class: "search-bar", id: "search-bar" %>
          <%= button_tag '', {class: 'search-btn'} do %><i class="fas fa-arrow-right"></i><% end %>
          </div>
        <% end %>
        <% elsif current_user && current_user.gazelle_runner %>
        <% controller.redirect_to tasks_path %>
        <% else %>
         <br>
         <br>
         <br>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
