<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <div class="home-search-container shared-search-container">
        <input type="text" class="search-bar" id="user-input" placeholder="Search for task">
        <a href="#" class="search-btn icon"><i class="fa fa-search"></i></a>
      </div>
    </div>
  </div>
</div>



