<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <%= form_tag(companies_path, method: "get", class: "form-inline") do%>
        <div class="home-search-container shared-search-container">
        <%= text_field_tag :search, params[:search], placeholder: "Search Tasks", class: "search-bar" %>
        <%= submit_tag "Search", :name => nil, class: "search-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



