<div class = "container">
  <div class ="row">
    <br>
    <br>
    <br>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="wrapper-new-gazelle">
        <h1>Sign up to become a gazelle</h1>
         <%= render 'form', gazelle_runner: @gazelle_runner %>
      </div>
    </div>
  </div>
</div>
