<div class = "container">
  <div class ="row">
    <br>
    <br>
    <br>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>New Gazelle Runner</h1>
      <%= render 'form', gazelle_runner: @gazelle_runner %>
      <%= link_to 'Back', gazelle_runners_path %>
    </div>
  </div>
</div>

