<p id="notice"><%= notice %></p>

<div class="container">
  <div class= "stat text-center">
    <h2>GAZELLE 2342</h2>
  </div>
    <div class="map text-center">
       <h1>Map</h1>
    </div>
    <div class= "stat text-center">
      <h2>Count down time to arrival</h2>
    </div>
     <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-danger" %> |
     <%= link_to 'Back', companies_path, class: "btn btn-danger" %>
</div>

