// search bar
.search-bar {
  padding: 6px 12px;
  width: 800px;
  font-size: 15px;
  height: 100%;
  border: none;
  background-color: #41E8C0;
  border-radius: 2px 0px 0px 2px;
  &:focus {
    outline: none;
  }
}

.shared-search-container {
  height: 60px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.search-btn {
  color: #525B5D;
  font-size: 16px;
  background-color: #41E8C0;
  border: none;
  padding: 6px 12px;
  border-radius: 0px 2px 2px 0px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s background-color ease;
  z-index: 1;
  &:hover {
    text-decoration: none;
    color: white;
  }
}


::placeholder {
    color: red;
    opacity: 0.9;
}



